.articleTitlePicWrapper {
    height: auto;
    margin-top: 120px;
}

.articleTitlePic {
    width: 100%;
}

.articleMainWrapper {
    height: auto;
    width: 80%;
    margin: 0 auto;
}

.articleTitlesWrapper {
    text-align: center;
    margin: 5% 25%;
}

.articleH2Title {
    color: #aa5e93;
    font-size: 28px;
}

.articleH3SubTitle {}

.signatureWrapper {
    height: auto;
    text-align: right;
}

.authorSignature {
    text-align: center;
    display: inline-block;
    margin-right: 30%;
    margin-left: 30%;
}

.searchLogoArticle {
    width: 20px;
    margin-right: 20px;
    display: inline-block;
}

.articleTextContainer {
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.articleTextWrapper {}

.articleParagraphSpacing {
    margin-bottom: 50px;
}

.articleMiddlePicWrapper {
    text-align: center;
    margin: 10px 0 50px 0;
}

.articleMiddlePic {}

.authorCardWrapper {
    display: flex;
    width: 100%;
    width: 100%;
}

.authorLeftPicWrapper {
    margin-right: 20px;
}

.authorRightTextWrapper {}


.authorDescription {
    width: 280px;
}

.commentButtonWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 80px 0;
}

.commentLink {
    color: #aa5e93;
    text-decoration: none;
    border: solid 2px #aa5e93;
    padding: 10px 120px 10px 120px;
}

.articleSubSelfTeaserWrapper {
    display: flex;
    width: 90%;
    margin: 20px auto;
    margin-bottom: 30px;
    width: 100%;
}

.moreInSelf {
    color: #aa5e93;
}

.articleSubSelfTeaserContainers {
    display: flex;
    height: 100%;
    width: 33.300%;
}

.subarticleSubSelfLeftWrapp {
    text-align: center;
    height: auto;
    width: 70%;
}

.subSelfTeaserLinks {
    width: 100%;
    color: #aa5e93;
    text-decoration: none;
    border: solid 2px #aa5e93;
    padding: 5px 20px 5px 20px;
}

.subTeaserSelfImg {
    width: 70%;
}

.articleSubCommunityTeaserWrapperAround {
    background-color: #aa5e93;
    color: #f3f2ee;
}

.articleSubCommunityTeaserWrapperAnnouncement {
    padding: 10px 50px;
    font-weight: bold;
}

.articleSubCommunityTeaserWrapper {
    display: flex;
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 20px;
}

.articleSubCommunityTeaserContainers {
    height: auto;
    padding: 30px 50px;
    width: 33.33%;
}

.subSelfTeaserH3 {}

.subSelfTeaserH4 {}

.subSelfTeaserParagraph {
    min-height: 45%;
    padding: 0 20px;
}

.subSelfTeaserLink {
    text-decoration: none;
    color: #f3f2ee;
    border: solid 2px #f3f2ee;
    padding: 3px 20px;
}

@media only screen and (max-width: 600px) {
    .articleSubSelfTeaserWrapper {
        flex-direction: column;
    }

    .articleSubSelfTeaserContainers {
        height: 100%;
        width: 100%;
    }

    .articleSubCommunityTeaserWrapper {
        flex-direction: column;
    }

    .articleSubCommunityTeaserContainers {
        width: 100%;
    }
}