.footer {
  height: auto;
  color: #efcb5e;
}

.h2FooterLink {
  text-decoration: none;
  color: #efcb5e;
}

.mainWrapper {
  background-color: #5e5b52;
  display: flex;
  height: 100%;
  padding: 3%;
}

.logoWrapper {
  height: auto;
  min-width: 25%;
}

.footerLogo {
  font-size: 33px;
  margin: 20px;
}

.titelLeftWrapper {
  height: auto;
  width: auto;
}

.footerLink {
  font-weight: bold;
  text-decoration: none;
  color: #efcb5e;
  display: block;
  margin-bottom: 5px;
}

.newsletterSubscribeTextWrapperParagraphOne {
  margin: 0;
}

.newsletterSubscribeTextWrapperParagraphtwo {
  margin: 0;
  margin-right: 5px;
}

.titelRightWrapper {
  height: auto;
  width: 30%;
}

.newsletterSubscribeInput {
  width: 60%;
  height: 33px;
  background-color: #4a4545;
  color: #a0946d;
  margin: 0;
  border: none;
}

.newsletterSubscribeInput::placeholder {
  color: #a0946d;
  opacity: 1;
}

.newsletterSubscribeButton {
  width: 30%;
  height: 33px;
  background-color: #a0946d;
  border: none;
}

.contactWrapper {
  height: auto;
  min-width: 25%;
  text-align: right;
}

.contactTextOne {
  margin: 0;
}

.contactTextTwo {
  margin: 0;
}

.mailParagraph {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}

.marginBetween {
  margin-bottom: 60px;
}

.searchLogoFooter {
  margin-left: 10px;
  width: 30px;
}

@media only screen and (max-width: 600px) {
  .mainWrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
  }
  .titelLeftWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
  }
  .titelLeftWrapper > p {
    display: none;
  }
  .titelRightWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .newsletterSubscribeInput {
    width: 100%;
    margin-top: 30px;
  }
  .newsletterSubscribeButton {
    width: 100%;
    margin-bottom: 50px;
  }
  .contactWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .marginBetween {
    margin-bottom: 5px;
  }
  .searchLogoFooter {
    margin: 30px 10px;
    display: inline-block;
  }
}
