@media screen and (min-width: 1024px) {
    .footer {
        display: flex;
        height: 250px;
        width: 100%;
        background-color: rgb(49, 49, 49);
        color: yellow;
    }
    .footerLogoWrapper {
        width: 15%;
        height: 100%;
        text-align: center;
    }
    .footerLogo {
        margin-top: 30px;
    }
    .footerMainWrapper {
        width: 100%;
    }
    .footerTitleUpWrapper {
        display: flex;
        justify-content: space-around;
        height: 70%;
    }
    .footerTitleLeft {
        /* flex-direction: column; */
        margin-top: 25px;
    }
    .footerTitleRight {
        margin-top: 25px;
    }
    .footerLinkList {
        list-style: none;
    }
    .footerLinkListElement {
        padding: 8px 0px;
    }
    .footerLink {
        color: yellow;
        text-decoration: none;
        list-style: none;
        padding: 100px;
    }
    .mailContactWrapper {
        margin-top: 25px;
    }
    .mailParagraph {
        font-size: 22px;
        font-weight: bold;
    }
    .newsletterSubscribeWrapper {
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
        align-items: stretch;
        height: 30%;
    }
    .newsletterSubscribeTextWrapper {
        text-align: end;
        flex-grow: 1;
        width: 25%;
    }
    .newsletterSubscribeInputWrapper {
        flex-grow: 2;
    }
    .newsletterSubscribeInput {
        background-color: rgb(110, 109, 109);
        padding: 3px 10px 2px 10px;
    }
    .newsletterSubscribeButton {
        background-color: yellow;
        padding: 3px 5px 2px 5px;
    }
    .socialMediaLogos {
        flex-grow: 1;
        display: flex;
        justify-content: space-evenly;
    }
}