.footer {
    height: 80vh;
    width: 100%;
    background-color: rgb(109, 109, 109);
    color: yellow;
}

.footerLogoWrapper {
    text-align: center;
}

.footerLogo {}

.footerMainWrapper {}

.footerTitleUpWrapper {}

.footerTitleLeft {}

.footerTitleRight {}

.footerLinkList {
    list-style: none;
}

.footerLinkListElement {}

.footerLink {
    color: yellow;
    text-decoration: none;
    list-style: none;
}

.mailContactWrapper {
    margin-top: 25px;
}

.mailParagraph {
    font-size: 22px;
    font-weight: bold;
}

.newsletterSubscribeWrapper {}

.newsletterSubscribeTextWrapper {
    
}

.newsletterSubscribeTextWrapperParagraph {
    display: flex;
    align-items: left;
    justify-content: left;
    padding-left: 120px;
    padding-top: 3px;
}

.newsletterSubscribeInputWrapper {}

.newsletterSubscribeInput {
    background-color: rgb(49, 49, 49);
    padding: 5px 10px 4px 10px;
}

.newsletterSubscribeButton {
    background-color: #918c5c;
    padding: 5px 5px 4px 5px;
}

.socialMediaLogos {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (min-width: 1024px) {
    .footer {
        display: flex;
        height: 250px;
        width: 100%;
    }
    .footerLogoWrapper {
        width: 15%;
        height: 100%;
        text-align: center;
    }
    .footerLogo {
        margin-top: 30px;
    }
    .footerMainWrapper {
        width: 100%;
    }
    .footerTitleUpWrapper {
        display: flex;
        justify-content: space-around;
        height: 70%;
    }
    .footerTitleLeft {
        /* flex-direction: column; */
        margin-top: 25px;
    }
    .footerTitleRight {
        margin-top: 25px;
    }
    .footerLinkList {}
    .footerLinkListElement {
        padding: 8px 0px;
    }
    .footerLink {
        padding: 100px;
    }
    .mailContactWrapper {
        margin-top: 25px;
    }
    .mailParagraph {}
    .newsletterSubscribeWrapper {
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
        align-items: stretch;
        height: 30%;
    }
    .newsletterSubscribeTextWrapper {
        text-align: end;
        flex-grow: 1;
        width: 25%;
    }
    .newsletterSubscribeInputWrapper {
        flex-grow: 2;
    }
    .newsletterSubscribeInput {}
    .newsletterSubscribeButton {}
    .socialMediaLogos {
        flex-grow: 1;
        display: flex;
        justify-content: space-evenly;
    }
}