.mainTeaser {
    height: auto;
    margin-top: 60px;
}

.mainTeaserContainer {
    display: flex;
    height: calc(100vh - 60px);
}

.mainTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    padding: 50px;
}

.mainTitel {
    color: #aa5e93;
    font-size: 33px;
    margin: 0;
}

.mainArticleDescription {
    margin-bottom: 30px;
}

.homeMainLink {
    text-decoration: none;
    border: solid 1px #aa5e93;
    padding: 3px 15px 2px 15px;
    color: #aa5e93;
}

.mainMediaContainer {
    width: 50%;
    height: 70vh;
    margin: 0;
    padding: 0;
    min-width: 50%;
    height: auto;
}

.mainTeaserImage {
    margin: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .mainTeaser {
        margin-top: 0px;
    }
    .mainTeaserContainer {
        height: auto;
        flex-direction: column;
    }
    .mainTextContainer {
        width: auto;
        padding: 100px 50px;
    }
    .mainMediaContainer {
        width: 100%;
    }
    .mainTeaserContainer .mainMediaContainer {
        order: -1;
    }
}