.header {
    background-color: rgb(228, 199, 36);
    width: 100%;
}

.riseLogoWrapper {}

.riseLogo {
    width: 120px;
    /* justify-content: center; */
    /* align-self: center; */
}

.navigation {
    /* justify-content: center; */
    /* align-self: center; */
}

.navLink {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.searchWrapper {}

.searchLogo {
    width: 15px;
    margin-right: 5px;
}

.searchBar {
    background-color: rgba(255, 0, 0, 0);
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px solid black;
    border-left: 0px;
    margin-right: 10px;
}

input::placeholder {
    font-weight: bold;
    color: black;
}

@media screen and (min-width: 1024px) {
    .header {
        display: flex;
        justify-content: space-around;
        height: 120px;
        position: fixed;
    }
    .riseLogoWrapper {
        display: flex;
    }
    .riseLogo {
        justify-content: center;
        align-self: center;
        padding-left: 30px;
        padding-right: 20px;
    }
    .navigation {
        justify-content: cemargin: 0;
        padding: 0;
        border: 0;
        nter;
        align-self: center;
        padding-left: 30px;
        padding-right: 20px;
    }
    .navTop {
        display: flex;
        justify-content: space-evenly;
    }
    .navDown {
        display: flex;
        justify-content: space-evenly;
    }
    .navLink {
        margin: 10px 20px 10px 20px;
    }
    .navLink:hover {
        border-bottom: 2px solid black;
    }
    .searchWrapper {
        display: flex;
        align-self: center;
        padding-left: 100px;
        padding-right: 20px;
        margin-right: 10px;
    }
}