@import 'nav.css';
@import 'main-teaser.css';
@import 'teaser.css';

/* @import 'footer1.css'; */

@import 'footer2.css';
@import 'self.css';
@import 'article.css';
body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@media only screen and (max-width: 250px) {
    body {
        word-break: break-all;
    }
}