.teaser {
    padding: 20px;
}

.teasersWrapper {
    padding-top: 50px;
    padding-bottom: 35px;
}

.teaserContainer {}

.categoryTitle {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.mediaContainer {
    display: flex;
    justify-content: center;
    align-self: center;
}

.teaserImage {
    width: 60%;
    border-radius: 50%;
}

.textContainer {}

.articleTitel {
    text-align: center;
    margin-bottom: 10px;
}

.articleSubTitle {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.articleDescription {
    margin-bottom: 15px;
}

.articleLink {}

.mainLink {
    text-decoration: none;
    padding: 3px;
    border: solid 1px white;
    padding: 3px 15px 2px 15px;
    color: white;
}

@media screen and (min-width: 1024px) {
    .mainTeaserContainer {
        display: flex;
    }
    .mainMediaContainer {
        width: 50%;
        height: auto;
    }
    .mainTextContainer {
        width: 50%;
        height: 100%;
    }
    .mainTeaserImage {
        width: 100%;
        height: 100%;
    }
    .teaserReverse .textContainer {
        order: -1;
    }
    .teasersWrapper {
        padding-bottom: 35px;
    }
    .teaserContainer {
        display: flex;
    }
    .mediaContainer {
        width: 50%;
    }
    .textContainer {
        width: 50%;
        padding-top: 35px;
    }
}