.sustainabilityColor .mainLink {
    border: solid 1px black;
    color: black;
}

.sustainabilityColor {
    background-color: #efcb5e;
}

.diversityColor {
    background-color: #a40e4c;
    color: white;
}

.innovationColor {
    background-color: rgba(44, 44, 84, 0.8);
    color: white;
}

.selfColor {
    background-color: #aa5e93;
    color: white;
}

.teaserReverse .textContainer {
    order: -1;
}

.humanRightsColor {
    background-color: #c25e43;
    color: white;
}

.teasersWrapper {
    padding-top: 100px;
    padding-bottom: 100px;
}

.categoryTitle {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.teaser {
    padding: 20px;
    height: auto;
}

.teaserContainer {
    display: flex;

}

.teaserImage {
    width: 50%;
}

.mediaContainer {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 50%;
}

.textContainer {
    width: 50%;
    padding-top: 35px;
}

.articleTitel {
    font-size: 22px;
    text-align: center;
    margin-bottom: 15px;
}

.articleSubTitle {
    font-size: 18px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 25px;

}

.articleDescription {
    margin-bottom: 25px;
    margin-right: 40px;
}

.mainLink {
    text-decoration: none;
    padding: 3px;
    border: solid 1px white;
    padding: 3px 15px 2px 15px;
    color: white;
}

.articleLink {}

@media screen and (min-width: 1024px) {}