* {
    font-family: 'Courier New', Courier, monospace;
}

.header {
    background-color: rgb(228, 199, 36);
    width: 100%;
}

.riseLogoWrapper {}

.riseLogo {
    width: 120px;
    /* justify-content: center; */
    /* align-self: center; */
}

.navigation {
    /* justify-content: center; */
    /* align-self: center; */
}

.navLink {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.searchWrapper {}

.searchLogo {
    width: 15px;
    margin-right: 5px;
}

.searchBar {
    background-color: rgba(255, 0, 0, 0);
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px solid black;
    border-left: 0px;
    margin-right: 10px;
}

input::placeholder {
    font-weight: bold;
    color: black;
}

.mainTeaser {
    height: 100%;
}

.mainTeaserContainer {}

.mainTextContainer {
    width: 100%;
    text-align: center;
    margin: 20% auto;
}

.mainTitel {
    color: purple;
}

.mainArticleDescription {
    margin-bottom: 20px;
}

.homeMainLink {
    text-decoration: none;
    border: solid 1px purple;
    padding: 3px 15px 2px 15px;
    color: purple;
}

.mainMediaContainer {
    width: 100%;
}

.mainTeaserImage {
    width: 100%;
    height: 100%;
}

.teaser {
    padding: 20px;
}

.teasersWrapper {
    padding-top: 50px;
    padding-bottom: 35px;
}

.teaserContainer {}

.categoryTitle {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.mediaContainer {
    display: flex;
    justify-content: center;
    align-self: center;
}

.teaserImage {
    width: 60%;
    border-radius: 50%;
}

.textContainer {}

.articleTitel {
    text-align: center;
    margin-bottom: 10px;
}

.articleSubTitle {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.articleDescription {
    margin-bottom: 15px;
}

.articleLink {}

.mainLink {
    text-decoration: none;
    padding: 3px;
    border: solid 1px white;
    padding: 3px 15px 2px 15px;
    color: white;
}

.humanRightsColor {
    background-color: #da6645;
    color: white;
}

.sustainabilityColor .mainLink {
    border: solid 1px black;
    color: black;
}

.sustainabilityColor {
    background-color: rgb(201, 149, 6);
}

.diversityColor {
    background-color: rgb(226, 110, 154);
    color: white;
}

.innovationColor {
    background-color: rgb(110, 142, 185);
    color: white;
}

.selfColor {
    background-color: #A15289;
    color: white;
}

.footer {
    height: 160px;
    width: 100%;
    background-color: rgb(49, 49, 49);
    color: white;
}

h2 {
    margin-top: 0px;
}

@media screen and (min-width: 1024px) {
    .header {
        display: flex;
        justify-content: space-around;
        height: 120px;
    }
    .riseLogoWrapper {
        display: flex;
    }
    .riseLogo {
        justify-content: center;
        align-self: center;
        padding-left: 30px;
        padding-right: 20px;
    }
    .navigation {
        justify-content: center;
        align-self: center;
        padding-left: 30px;
        padding-right: 20px;
    }
    .navTop {
        display: flex;
        justify-content: space-evenly;
    }
    .navDown {
        display: flex;
        justify-content: space-evenly;
    }
    .navLink {
        margin: 10px 20px 10px 20px;
    }
    .navLink:hover {
        border-bottom: 2px solid black;
    }
    .searchWrapper {
        display: flex;
        align-self: center;
        padding-left: 100px;
        padding-right: 20px;
        margin-right: 10px;
    }
    .mainTeaserContainer {
        display: flex;
    }
    .mainMediaContainer {
        width: 50%;
    }
    .mainTextContainer {
        width: 50%;
        height: 100%;
    }
    .mainTeaserImage {
        width: 100%;
        height: 100%;
    }
    .teaserReverse .textContainer {
        order: -1;
    }
    .teasersWrapper {
        padding-bottom: 35px;
    }
    .teaserContainer {
        display: flex;
    }
    .mediaContainer {
        width: 50%;
    }
    .textContainer {
        width: 50%;
        padding-top: 35px;
    }
}