* {
    font-family: 'Courier New', Courier, monospace;
}

.header {
    display: flex;
    background-color: rgb(177, 156, 40);
    height: 120px;
}

.riseLogoWrapper {
    display: flex;
}

.riseLogo {
    display: flex;
    justify-content: center;
    align-self: center;
    padding-left: 30px;
    padding-right: 20px;
}

.navigation {
    justify-content: center;
    align-self: center;
    padding-left: 30px;
    padding-right: 20px;
}

.navLink {
    text-decoration: none;
    color: black;
    font-weight: bold;
    justify-content: space-evenly;
}

.searchWrapper {
    justify-content: flex-end;
    align-self: center;
    padding-left: 100px;
    padding-right: 20px;
}

.searchBar {}

.teaser {
    padding: 20px;
}

.teasersWrapper {
    padding-top: 50px;
    padding-bottom: 35px;
}

.teaserContainer {}

.categoryTitle {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.mediaContainer {
    display: flex;
    justify-content: center;
    align-self: center;
}

.teaserImage {
    width: 60%;
    border-radius: 50%;
}

.textContainer {}

.articleTitel {
    text-align: center;
    margin-bottom: 10px;
}

.articleSubTitle {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.articleDescription {
    margin-bottom: 15px;
}

.articleLink {}

.mainLink {
    text-decoration: none;
    padding: 3px;
    border: solid 1px white;
    padding: 3px 15px 2px 15px;
    color: white;
}

.humanRightsColor {
    background-color: #da6645;
    color: white;
}

.sustainabilityColor .mainLink {
    border: solid 1px black;
    color: black;
}

.sustainabilityColor {
    background-color: rgb(201, 149, 6);
}

.diversityColor {
    background-color: rgb(226, 110, 154);
    color: white;
}

.innovationColor {
    background-color: rgb(110, 142, 185);
    color: white;
}

.selfColor {
    background-color: #A15289;
    color: white;
}

@media screen and (min-width: 1024px) {
    .teaserReverse .textContainer {
        order: -1;
    }
    .teaserContainer {
        display: flex;
    }
    .mediaContainer {
        width: 50%;
    }
    .textContainer {
        width: 50%;
    }
    .header {
        display: flex;
        height: 120px;
    }
    .riseLogoWrapper {
        display: flex;
    }
    .riseLogo {
        justify-content: center;
        align-self: center;
        padding-left: 30px;
        padding-right: 20px;
    }
    .navigation {
        justify-content: center;
        align-self: center;
        position: sticky;
        padding-left: 30px;
        padding-right: 20px;
    }
    .navLink {
        justify-content: space-evenly;
    }
    .searchWrapper {}
}